html,body {

    position: relative;
    height: 100%;
    overflow-y: hidden;
   
}

div#root{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
     
}
.header{
    padding:18px 8px 18px 8px;
    font-family: "Inconsolata";
    
    flex:1;
}
.main{

   
    display: flex;
    justify-content: center;
    align-items: center;
    flex:2
}

.content{
    font-family: "Space Mono";
    color:#333333;
   
}

p{
    color:#4F4F4F;
    font-size: 12px;
}

.content a{

    display: inline-block;
    text-decoration:none;
    font-family: "Inconsolata";
    background-color: #333333;
    padding:8px;
    color:white;
}

img{
    width: 300px;
    height: 247px;
   
    
}

.footer{
    flex: 1;
    position: absolute;
    width: 100%;
  
    bottom: 0;
    margin-top: 18px;
    margin-bottom:18px;
    text-align: center;
}

@media (max-width:375px) {
    
   

    .main{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 200px;
        height: 195px;
    }
    .content{
        font-size: 10px;
       
    }
    
    p{
        color:#4F4F4F;
    }
    
}